#!/usr/bin/make -f
OMV_PACKAGE := $(shell pwd | sed 's|.*/||')

%:
	dh $@ --parallel

override_dh_install:
	unzip /usr/share/omv-extra-sources/sources/json-schema-php_0.2.0.zip
	touch extract-stamp
	dh_quilt_patch
	touch patch-stamp
	dh_install


override_dh_clean:
	dh_testdir
	dh_testroot
	dh_quilt_unpatch
	rm -fr phpext/ php/
	dh_clean
